*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
 
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e44;

}
.digital-clock{
    position: relative;
    color: #fff;
    background: #2e2e44;
    width: 500px;
    padding: 30px 60px;
    box-shadow: 0 20px 45px rgba(82, 87, 103, 0.8);
    border-radius: 10px;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.time{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hours, .dots, .minutes{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
    color: rgb(247, 185, 60);
}
.hours, .minutes{
    font-size: 6.5em;
    width: 125px;
    
}
.dots{
font-size: 5em;
color: #929292;

}
.right-side{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.period, .seconds{
    font-size: 1.2em;
    font-weight: 500;
}
.period{
    transform: translateY(-20px);
}
.seconds{
    transform: translateY(16px);
}
.calender{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    color: aqua;
}

.day-name,.day-number,.year{
  margin-left: 10px;
}

.dot-menu{

    z-index: 999;
    list-style: none;
    background: #353e54;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock-format-text{
    color: #efefef;
    font-size: 0.9em;
    margin-right: 20px;
}

.format-switch-btn{
    width: 35px;
    height: 15px;
    background: #485470;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1), 
                inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;        
    display: flex;    
    justify-content: center;
    align-items: center;
}

.format-switch-btn::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f884e8;
    border-radius: 50%;
    box-shadow: 0 1px #e4a6dd;
    transform: translateX(-10px);
    transition: 0.3s ease;
    transition-property: background, transform;
}

.format-switch-btn.active:before{
    background: #0bff8d;
    box-shadow: 0 1px 25px  #0bff8d ;
    transform: translateX(10px);
}